<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product Type Manager</title>
</head>
<body>
<div align="center">
    <h1>Product Type List</h1>
    <a href="/producttype/add">Create New Product Type</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product Type ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producttype : ${listProductTypes}">
            <td th:text="${producttype.id}">Product ID</td>
            <td th:text="${producttype.name}">Name</td>
            <td>
                <a th:href="@{'/producttype/edit/' + ${producttype.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/producttype/delete/' + ${producttype.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>